* {
    border:        none;
    border-radius: 0;
    font-family:   Sans;
    font-size:     15px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

window {
    color:     #FFFFFF;
    background: transparent;
}


#workspaces {
    margin: 5 1px;
    background: #1D1924;
    border: 3px solid #3E87EA;
    border-radius: 25px;
}

#workspaces button {
    padding: 0 1px;
    background: transparent;
    color: #ffffff;
}

#workspaces button.active {
    padding: 0 1px;
    background: transparent;
    color: #3E87EA;
}

#battery, #pulseaudio, #backlight, #bluetooth{
	 margin: 0px 10px 0px 10px;

}

#clock {
   margin: 0px 10px 0px 10px;
   padding: 1px 5px 1px 5px;
   background: #1D1924;
   border: 3px solid #3E87EA;
   border-radius: 25px;
   }


#basic {
   color: #3E87EA;
   padding: 1px 5px 1px 5px;
   background: #1D1924;
   border: 3px solid #3E87EA;
   border-radius: 25px;
}

#tray{
margin: 0px 5px 0px 5px
}

