* {
    border:        none;
    border-radius: 0;
    font-family:   Sans;
    font-size:     15px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

window {
    color:     #FFFFFF;
    background: transparent;
}


#workspaces {
    margin: 5 1px;
    background: #1D1924;
    border: 3px solid #3E87EA;
    border-radius: 25px;
}

#workspaces button {
    padding: 0 1px;
    background: transparent;
    color: #ffffff;
}

#workspaces button.active {
    padding: 0 2px;
    background: transparent;
    color: #3E87EA;
}

#battery, #pulseaudio, #clock, #backlight{
	 margin: 0px 5px 0px 5px;

}
#basic {
   margin: 0px 0px 0px 0px;
   min-width:  10px;
      background: #1D1924;
    border: 3px solid #3E87EA;
    border-radius: 25px;
}

#tray{
margin: 0px 5px 0px 5px
}

