* {
    border:        none;
    border-radius: 0;
    font-family:   Sans;
    font-size:     15px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

window {
    color:     #FFFFFF;
    background: transparent;
}


#workspaces {
    margin: 5 0px;
    background: #2e3440;
    border: 3px solid #566F90;
    border-radius: 25px;
}

#workspaces button {
    padding: 0 1px;
    background: transparent;
    color: #566F90;
}

#workspaces button.active {
    padding: 0 0px;
    background: transparent;
    color: #B4CBD9;

}

#battery, #pulseaudio, #backlight{
	 margin: 0px 10px 0px 10px;

}

#clock {
   color: #B4CBD9;
   margin: 5 5px; 
   padding: 1px 5px 1px 5px;
   background: #2e3440;
   border: 3px solid #566F90;
   border-radius: 25px;
   }


#basic {
   margin: 5 5px;
   color: #B4CBD9;
   padding: 1px 5px 1px 5px;
   background: #2e3440;
   border: 3px solid #566F90;
   border-radius: 25px;
}

#tray{
margin: 0px 5px 0px 5px
}

